
// VARIABLE QUE CONTIENE EL COLOR PRIMARIO DEL SITIO
$color-primario: #393939;


// VARIABLE QUE CONTIENE EL COLOR SECUNDARIO DEL SITIO
$color-secundario: white;

// VARIABLE PARA EL TAMAÑO DE LA FUENTE EN VISTA DE PC DE ESCRITORIO
$fuente-ordenador: 1.2rem;